body { 
    font-family: Arial; 
    margin: 0; 
    padding: 0; 
    background-color: aqua;
}

header { 
    display: flex; 
    align-items: center; 
    padding: 20px; 
    background: #74ed94; 
}

#photo { 
    background-image: url('chat.jpg'); 
    background-size: cover; 
    background-position: center; 
    width: 150px; 
    height: 150px; 
    margin-left: 10px; 
    margin-right: 20px;
}


#photo:hover {
    transform: scale(1.1); 
}

.principal { 
    display: flex; 
}

.side { 
    width: 20%; 
    background: #ed8005; 
    padding: 20px; 
}

.main { 
    width: 80%; 
    padding: 20px; 
    transform: none; 
}

.rectangle1, .rectangle2, .rectangle3, .rectangle4 { 
    margin-bottom: 20px; 
    padding: 10px; 
    background: white; 
}

.rectangle1:hover, .rectangle2:hover, .rectangle3:hover, .rectangle4:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.673); 
}

h2, h3 { 
    color: black; 
}

p { 
    color: black;
}

li {
    list-style-type:"-";
    color: black;
}


